/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.ul-nostyle {
  list-style: none;
}

.pad-top-bot20 {
  padding: 20px 0;
}

.pad-top-bot10 {
  padding: 10px 0;
}

.pad-top-bot20 {
  padding: 20px 0;
}

.margin-left-5 {
  margin-left: 5px;
}

.in-block {
  display: inline-block;
}

.block {
  display: block;
}

.vertical-middle {
  vertical-align: middle;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}



/* @MEDIA */

/* XS */
@media screen and (min-width: px) {

}

/* SM */
@media screen and (min-width: 600px) {

}

/* MD */
@media screen and (min-width:1024px) {

}

/* LG */
@media screen and (min-width: 1200px) {
  /* .content-category .albums .album {
    margin: 10px 20px 0 0;
    width: calc((100% / 6) - 20px);
  } */
  .justify-space-between {
    justify-content: space-between;
  }

}

/* XL */
@media screen and (min-width: px) {

}
