/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.ul-nostyle {
  list-style: none;
}

.pad-top-bot20 {
  padding: 20px 0;
}

.pad-top-bot10 {
  padding: 10px 0;
}

.pad-top-bot20 {
  padding: 20px 0;
}

.margin-left-5 {
  margin-left: 5px;
}

.in-block {
  display: inline-block;
}

.block {
  display: block;
}

.vertical-middle {
  vertical-align: middle;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-justity {
  justify-content: justify;
}

.text-center {
  text-align: center;
}


/* @MEDIA */

/* XS */
@media screen and (min-width:300px) {

  .content-menu ul li {
    padding: 6px 5px;
    position: relative;
    display: inline-block;
    justify-content: center;
  }

  #sidebar-600px {
    display: flex;
  }

  #sidebar {
    display: none;
  }
}

/* SM */
@media screen and (min-width:600px) {
  .content-category .albums .album {
    margin: 10px 20px 0 0;
    width: calc((100% / 2) - 20px);
  }

  .content-menu ul li {
    padding: 6px 5px;
    position: relative;
    display: inline-block;
    text-align: center;
  }

}

/* MD */
@media screen and (min-width:1024px) {
  .content-category .albums .album {
    margin: 10px 20px 0 0;
    width: calc((100% / 4) - 20px);
  }

  .content-menu ul li {
    padding: 8px 20px;
    position: relative;
    display: inline-block;
  }

  #sidebar {
    display: flex;
  }

  #sidebar-600px {
    display: none;
  }
}

/* LG */
@media screen and (min-width: 1200px) {
  .content-category .albums .album {
    margin: 10px 20px 0 0;
    width: calc((100% / 6) - 20px);
  }

}

/* XL */
/* @media screen and (min-width: px) {

} */
